#[ PYTHON ]
*.pyc
*.*~
*__pycache__*


#[ DJANGO ]
media/
files/temp/
files/assets/
*.log
.idea
logs/

#[ VIRTUAL ENVIRONMENT ]
venv
env

#[ ECLIPSE ]
.project
.settings
.settings/
.pydevproject

#[ ATOM ]
.magicindex.json

#[ ENVIRONMENT SETTINGS ]
development/
development.py
environment_development.py

#[ PROJECT ]
cachedb/
Interests/
static/css/production/*.css
static/js/production/*.js

#[ OPERATING SYSTEM ]
.DS_Store

#[ CELERY ]
worker.pid
celerybeat.pid
celerybeat-schedule

#[ DATABASE ]
*.gz
*.sqlite3

#[MISC]
*.swp

#[SASS]
.sass-cache/
*.scssc
*.map

#[ SUBLIME ]
*.sublime-project
*.sublime-workspace

#[ TESTS ]
.coverage

#[ VSCODE ]
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vscode/settings.json
loaddata.bat
